* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gameBoard {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 27px);
    grid-template-rows: repeat(20, 27px);
    margin: 5px;
}

.gameBorder1 {
    border: 10px solid #595f43;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #595f43;
}

.gameBorder2 {
    border: 8px solid #abb78a;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #abb78a;
}

.gameBorder3 {
    border: 30px solid #8b966c;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #8b966c;
    background-color: #c4cfa3;
}

#instruction {
    position: absolute;
    color: #333;
    width: 400px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
}

.scores {
    display: flex;
    justify-content: space-between;
}

#score {
    color: #abb78a;
}

#highScore {
    color: #d8ddca;
}

#score,
#highScore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}

.snake {
    border: 1px dotted #656565;
    background-color: #414141;
}

.food {
    background-color: #ff0000;
    border: 5px solid #9f1f1fc8;
}